:root {
    --white: #fff;
    --green: #00ff00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    background-image: url(../images/bgimage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    color: var(--white);
    font-size: 14px;
    font-weight: 400;
}

.body-container {
    height: 100%;
    background: rgba(0, 0, 0, .4);
    padding: 0 70px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

.logo-container {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url(../images/church-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.nav .nav-links-wrapper {
    display: flex;
    list-style: none;
    width: 700px;
    justify-content: space-between;
}

.nav .nav-links-wrapper .nav-link {
    color: var(--white);
    font-weight: 600;
    font-size: 14px;
}

.active {
    color: var(--green);
}

.nav .nav-links-wrapper .nav-link::after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background-color: var(--green);
    transition: all 700ms ease-out;
    margin: auto;
}

.nav .nav-links-wrapper .nav-link:hover::after {
    width: 100%;
    transition: all 700ms ease-out;
}

.nav .nav-links-wrapper .nav-link:hover {
    color: var(--green);
    transition: 300ms ease;
}


/* main */

.main p.title-text {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

.main p.subtitle {
    font-weight: bold;
}

.main .supporting-text .btn {
    padding: 5px;
    background: var(--green);
    border: 0;
    width: 250px;
    height: 50px;
    border-radius: 20px;
}